@import "tailwindcss";

@theme {
  --color-brand-green: #00FF66;
  --color-brand-black: #0A0A0A;
  --font-sans: "Inter", sans-serif;
}

@layer base {
  html {
    scroll-behavior: smooth;
  }
  body {
    @apply bg-brand-black text-white font-sans antialiased selection:bg-brand-green selection:text-black;
  }
}
